<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml"><head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="x-rim-auto-match" http-equiv="x-ua-compatible" content="none"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <script src="prakt.js"></script>
    <!--[if It IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5-els.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="RESET.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bridge.css">
    
<!--СЛАЙДЕР START-->  
    <!-- Use the ID of your slider here to avoid the flash of unstyled content -->
	  	<style type="text/css">
	  		#featured {url('orbit/loading.gif') no-repeat center center; overflow: hidden; }
	  		/* Want a different Loading GIF - visit http://www.webscriptlab.com/ - that's where we go this one :) */
	  	</style>
	  	<link rel="stylesheet" href="orbit.css">	
		<!--[if IE]>
			<style type="text/css">
				.timer { display: none !important; }
				div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
			</style>
		<![endif]-->
        <script type="text/javascript" src="jquery.orbit.js"></script>
		<script type="text/javascript" src="jquery-1.4.1.min.js"></script>
		<script type="text/javascript" src="jquery.orbit.min.js"></script>	
		<!-- Run the plugin -->
		<script type="text/javascript">
			$(window).load(function() {
				$('#featured').orbit({
					'bullets': true,
					'timer' : true,
					'animation' : 'horizontal-slide'
				});
			});
		</script>
<!--СЛАЙДЕР END-->	
<script type="text/javascript" src="Scroll.js"></script>
<script type="text/javascript" src="perehod.js"></script>  
    <title>Main</title>
</head>
<body>
<div class="inter1">
	<div class="top">
		<h3>ИНТЕРВЬЮ С АНДРЕЕМ ШУДНЕВЫМ</h3>
		<img src="images/polosa.png">
        <br/><br/><br/>
	</div>
<div class="inter2">
<h4>Шуднев Андрей Михайлович: "Бридж - это своего рода "Бальзам Биттнер" - лекарство от всех болезней, следовательно, Большой Мастер для игры в Большой Бридж должен быть непременно болен. А вообще бридж - это прежде всего спорт. Большой Бриджист должен быть, помимо всего прочего, психологически уравновешенным, "взрослым", то есть состоявшимся как личность, уважительным и в то же время беспощадным к оппонентам, а главное - не быть "пофигистом".<br/><br/>
<i class="kos">Ты начал свой путь в бридже значительно позже, чем нынешние ветераны, но в то же время значительно раньше, чем молодые лидеры рейтинга. К какому поколению относишь себя?</i><br/>
Я – "молодой ветеран"!<br/><br/>
<i class="kos">При этом ты почти на 10 лет старше большинства нынешних потенциальных кандидатов в сборную. Чувствуешь ли разницу? Чем твой подход к жизни и к игре отличается от подхода тех, кто родился в начале 70-х?</i><br/>
Мой подход к жизни – это отдельная история. Что касается отношения к бриджу: все лидеры нашего бриджа, родившиеся в 70-е, – разные, каждый из них проповедует свой стиль; все они, безусловно, Личности, но каждый – по-своёму. Это у средних игроков может встречаться и очень сходный подход к игре, и похожая идеология, а у сильных – никогда. Все разные.<br/><br/>
<i class="kos">Можешь ли назвать себя профессиональным бриджистом, если да, то сколько у тебя лет "трудового стажа"? </i><br/>
Могу, но, с моей точки зрения, слишком много изъянов у меня как у профессионала. Началось с турнира в Варшаве в 1991 году, затем, после перерыва, в Риге была создана профессиональная команда "Тигрис". Собственно говоря, моя профессиональная карьера продолжается до сих пор, но не перманентно, были длительные перерывы.<br/><br/>
<i class="kos">Считаешь ли себя первым бриджевым профессионалом? </i><br/>
Я бы сказал так – первым профессионалом среди игроков, которые сейчас представляют Россию на различных турнирах.<br/><br/>
<i class="kos">Трудно ли "работать бриджистом"? Как строится твой рабочий день, неделя?</i><br/>
Работа тяжелая. День не нормирован, ночь тоже. В Риге работа сводится в основном к организации регулярных турниров и отдельных чемпионатов. В общем, клубная и организационная работа.<br/><br/>
<i class="kos">С кем пришлось тесно работать на бриджевом поприще, кроме А. Авдеева и А. Громова? </i><br/>
Фактически начало моей бриджевой карьеры состоялось в Риге, знаменательный этап – игра в профессиональной команде "Тигрис" (название одноименной фирмы-спонсора). Молодые игроки вряд ли знают эти известные в своё время имена – Саша Рожков, Бруно Рубенис, Женя Аппен. Пожалуй, только Сергей Бирин многим знаком, благодаря его частым выступлениям в российских турнирах. Много времени за бриджевым столом я провел в паре с Анатолием Павловым.<br/><br/>
<i class="kos">Кто твой любимый партнёр?</i><br/>
Мне везло с партнёрами, все, с кем играл (и даже не играл, хотя и хотелось), вызывали как минимум большую симпатию. В паре большую роль играет взаимоуважение, для меня важно, чтобы меня партнёр уважал как человека (уж во всяком случае – как игрока).<br/><br/>
<i class="kos">Свою бриджевую карьеру А. Громов и А. Авдеев начинали в паре, затем оба в разное время были твоими постоянными партнёрами. Охарактеризуй, пожалуйста, их лучшие черты, может быть, специфику пар Громов-Шуднев и Авдеев-Шуднев (что общего, в чем различие)?</i><br/>
Главное – оба на 100% спортсмены. В остальном не возьму на себя суждения о них именно потому, что с ними ИГРАЛ (а с Сашей играю и по сей день). Не потому, что не могу, а потому, что не хочу. Может быть, немного разные цели в каждой паре стояли изначально. С Андреем Громовым начинали играть в паре (первый солидный турнир – парное первенство СНГ), чтобы выигрывать. С Сашей Авдеевым – чтобы "попасть в орбиту" российского бриджа. Считаю, что наша с Сашей изначальная задача на данный момент выполнена. В паре с Андреем было как бы "некуда" идти вперед, с Сашей у нас впереди ещё много вершин для покорения.<br/><br/>
<i class="kos">Что представляет собой сегодня бриджевая элита? </i><br/>
Элита… Просто живые люди, со своими "прибамбасами", и отрицательные, и положительные персонажи. С человеческой точки зрения ничем не отличаются от других людей, с бриджевой – все крепкие игроки, технари, готовые бороться и выигрывать.<br/><br/>
<i class="kos">Считаешь ли ты, что "приложил руку" к воспитанию многих нынешних лидеров? </i><br/>
Я не могу назвать это воспитанием. Некоторое время назад была своеобразная "группа энтузиастов" среди молодых крепких бриджистов, готовая много часов подряд обсуждать до хрипоты разные аспекты бриджевой игры. С удовольствием участвуя в дебатах, я был самым старшим и опытным среди них и активно обсуждал с ними возможности этой великолепной игры. Мне приятно, что среди молодежи были Юра Хюппенен, Вадик Холомеев.<br/><br/>
<i class="kos">Не кажется тебе, что многие "сильные мира сего" от бриджа ведут себя, мягко говоря, не всегда корректно за столом, особенно по отношению к новичкам? </i><br/>
Моё мнение – люди ведут себя за бриджевым столом так, как привыкли или хотели бы себя вести в обычной жизни. К новичкам в качестве оппонентов это не имеет никакого отношения. Если в вопросе речь идет о том, что сильные игроки "злоупотребляют" незнанием бриджевого Кодекса новичками, то, извините, в обязанность лидеров не входит учить неофитов Кодексу.<br/><br/>
<i class="kos">Победа любой ценой – твоё отношение к этому? </i><br/>
К сожалению, как и в любом виде спорта, в это понятие входят, в том числе, различные процедурные моменты, предусмотренные Кодексом. Если вы имеете право на вызов судьи, на апелляцию и т.д., вы ДОЛЖНЫ им воспользоваться. Чтобы наиболее полно ответить на этот вопрос, надо бы привести пример – что есть "победа любой ценой"? Я категорически против, например, пауз в игре, которые могут заставить оппонента ошибиться, вывести его из равновесия. Есть вполне нормальный метод выведения врага из себя – это крепкая, безошибочная, ХОРОШАЯ игра. Если именно это вы называете "победой любой ценой", то это, безусловно, хороший стиль. Всем настоятельно рекомендую побеждать именно так… правда, это трудно.<br/><br/>
<i class="kos">Бриджевые Олимпиады 1996 г. и 2000 г.: можешь ли сравнить две российские сборные? </i><br/>
(Напоминаем (прим. ред.) в 1996 сборная была в составе: Громов-Шуднев, Т. Злотов-Петрунин, Холомеев-Хюппенен, NPC – М. Розенблюм; в 2000: М. Красносельский-Дубинин, Авдеев-Шуднев, Рекунов-Хохлов, NPC – Б. Сазонов) 
    <br/>Общее, безусловно, то, что это были две хорошие, боеспособные команды. Одни были ПЕРВЫМИ, первым всегда труднее. И, с моей точки зрения, они вписали первые строки в "золотые страницы" российского бриджа. Для второй сборной выступление на бриджевом форуме было уже просто РАБОТОЙ. И вторая сборная подтвердила высокий класс российского бриджа.<br/><br/>
<i class="kos">Чем занимаешься сейчас?</i><br/>
Даю интервью.<br/><br/>
<i class="kos">Какими видишь свои перспективы в бридже? </i><br/>
Перспективы каждого игрока зависят прежде всего от него самого и от того, что он делает для того, чтобы к ним реально стремиться. Мои перспективы – иногда представлять Россию на высшем уровне, иногда – давать интервью. Что ещё? Держаться в элите российского бриджа, когда-нибудь опять взойти на подиум…<br/><br/>
<i class="kos">Интересна ли тебе работа NPC? </i><br/>
Считаю, что работа очень интересная, но не совместимая с игровой практикой (по крайней мере, на высоком уровне). Этой работой надо так же серьезно заниматься, как и активной игровой деятельностью. Вообще сам факт присутствия и участия в европейском и мировом бриджевом мероприятии невероятно… как бы это сказать… значителен, но всё же лучше находиться на поле боевых (читай – игровых) действий, а не в "штабном блиндаже". 
    <br/>(Примечание подошедшего Ю. Хюппенена: "Тяжела работа NPC… лучше играть".)<br/><br/>
<i class="kos">Каковы тенденции современного бриджа?</i><br/>
Бридж стал более профессиональным. Сильно улучшились системы торговли, появилось более профессиональное отношение к игре. Основные тенденции – безусловно, в торговле. Что касается российского бриджа, то стало гораздо больше пар, которые могут составить конкуренцию на любом уровне, произошло "подтягивание" среднего уровня. Стало больше так называемых "средних" игроков, происходит ужесточение конкуренции. Чтобы удерживать уровень, нужно много работать.<br/><br/>
<i class="kos">Тебя интересуют организационные проблемы российского бриджа? </i><br/>
Нет.<br/><br/>
<i class="kos">Каким, на твой взгляд, должен быть путь среднего игрока в сборную России? </i><br/>
Средний игрок НЕ МОЖЕТ стать членом сборной России. Он ВСЕГДА останется средним. Единственная рекомендация – можно поменять вид спорта.<br/><br/>
<i class="kos">Какой вопрос ты хотел бы задать себе сам? (И ответ, если возможно…) </i><br/>
"Когда же ты, Андрей, закончишь заниматься ерундой???" К сожалению, похоже, никогда…<br/><br/>
<i class="kos">Напоследок – трудный вопрос: назови пятерки лучших игроков и организаторов в периоды 1985-1990, 1991-1995, с 1996 по настоящее время.</i><br/>
Основное исходящее: бридж – игра парная, говорить об индивидуальной силе игроков достаточно трудно. Начнём с конца. Что касается последнего периода – см. рейтинг и добавь личные домыслы. Из первых 20-ти игроков рейтинга можно сформировать несколько пятерок. В периоде 1985-1990 главным критерием были Большие Мастерские Баллы – см. у кого их больше. Пятёрку среднего периода можно составить из Саши Петрунина, Тима Злотова, Юры Хюппенена, Вадика Холомеева, Михаила Розенблюма, Ларисы Паниной, Андрея Шуднева, Андрея Громова.<br/><br/>

    

</h4>
</div>



</div>

<footer>
	<div class="foot">
		<div class="soc">
		<a href="http://www.instagram.com/" target="_blank"><img src="images/INST.png" alt="INST" width="22" height="22"/></a>
		</div>
		<div class="soc">
		<a href="http://www.facebook.com/" target="_blank"><img src="images/FB.png" alt="facebook" width="22" height="22"/></a>
		</div>
        <div class="copyright">"cardbridge.ru" &#169;2016</div>
    </div>
</footer>
</body>
</html>
