<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <form id="loginForm" class="form-group" ng-submit="submit()" name="loginForm" method="post">
        <label for="logIn">{{'LOGIN' | translate}}</label>
        <input id="logIn" class="form-control" type="text" placeholder = "{{'LOGIN' | translate}}" required ng-model="login" name="login">
        <label for="pass">{{'PASS' | translate}}</label>
        <input id="pass" class="form-control" type="password" placeholder="{{'PASS' | translate}}" name="password">
        <input class="btn btn-default" type="submit" value="{{'ENTER' | translate}}">
    </form>
</div>